<!DOCTYPE html>
<html lang="en">
<head>
  <title>Change Login Details</title>
</head>
<body>
  <h3>Please enter your new login details.</h3>
  <form action="/forgot/update-login-details" method="POST">
    <input name="email" type="email" required placeholder="Enter same email address">
    <input name="newId" type="text" required placeholder="New User ID">
    <input name="newPassword" type="password" required placeholder="New Password">
    <button type="submit">Submit</button>
  </form>
  <br>
  <br>
  <a href='/auth/signup'>Return to Signup Page</a>
  <br>
  <br>
  <br>
  <p>1. Email: Use the registered email for the system.</p>
  <p>2. ID Rule: Create an ID at least 8 characters long, using only letters, uppercase/lowercase.</p>
  <p>3. Password Rule: Generate a password at least 8 characters long, including one uppercase letter, one lowercase letter, one number, and one special character.</p>
  <br>
  <br>

  <!-- Conditional rendering for success and error messages -->
  {{#if success}}
    <h3>New Login Response:</h3>
    <p class="success">{{success}}</p>
    <a href='/auth/login'>Login</a>
  {{/if}}

  {{#if error}}
    <h3>New Login Response:</h3>
    <p class="error">{{error}}</p>
  {{/if}}
</body>
</html>
